<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tour.mapper.ArticleMapper">

    <select id="page" resultType="com.example.tour.entity.Article">
        select * from tour.article
        <where>
            <if test="condition!=null and condition!='' ">
                and title like concat('%',#{condition},'%') or province_id= (select id from tour.province
                                                                          where province_name=#{condition})
                                                                             or scenic_spot_id=(select id from tour.scenic_spot
                                                                                    where scene_rollcall=#{condition})
            </if>
        </where>

        <if test="searchBy=='hot'">
          order by likes desc
        </if>

        <if test="searchBy=='new'">
         order by create_time desc
        </if>

         limit #{offset},#{pageSize}
    </select>
    <select id="followeeArticle" resultType="com.example.tour.entity.Article">
        select * from tour.article
        <where>
            <if test="articlePageQueryDTO.condition==null or articlePageQueryDTO.condition==''">
               and user_id in (select followee_id from tour.followee where user_id=#{userId})
            </if>

            <if test="articlePageQueryDTO.condition!=null and articlePageQueryDTO.condition!='' ">
                and user_id=#{articlePageQueryDTO.condition}
            </if>

        </where>
        limit #{articlePageQueryDTO.offset},#{articlePageQueryDTO.pageSize}
    </select>

</mapper>
